<section class="content-header">
    <h1>
        Tư vấn mới
        <small>news</small>
    </h1>
</section>
<!-- Main content -->
<section class="content container-fluid">
    <form >
        <div class="box box-default">
            <div class="box-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-group">
                                <label>Tên khách hàng</label>
                                <input class="form-control" placeholder="Họ tên" ng-model="vm.consultant.name">
                            </div>
                            <div class="form-group">
                                <label>Email</label>
                                <input class="form-control" placeholder="Email" ng-model="vm.consultant.email">
                            </div>
                            <div class="form-group">
                                <label>Số điện thoại</label>
                                <input class="form-control" placeholder="Số điện thoại" ng-model="vm.consultant.phone">
                            </div>
                            <div class="form-group">
                                <label>Nhu cầu khách hàng</label>
                                <textarea class="form-control" placeholder="Nhu cầu của khách hàng " rows="5" ng-model="vm.consultant.need"></textarea>
                            </div>
                            <div class="form-group">
                                <label>Nội dung tư vấn</label>
                                <textarea class="form-control" placeholder="Nội dung TVV đã tư vấn cho khách hàng" rows="3" ng-model="vm.consultant.content"></textarea>
                            </div>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="birthDate">Ngày tư vấn</label>
                            <input type="datetime-local" id="birthDate" class="form-control" ng-model="vm.consultant.datetime">
                        </div>
                        <div class="form-group">
                            <label>Số từ</label>
                            <div class="form-group input-group">
                                <input type="number" class="form-control" ng-model="vm.consultant.words">
                                <span class="input-group-addon">Từ</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Số trang</label>
                            <div class="form-group input-group">
                                <input type="number" class="form-control" ng-model="vm.consultant.pages">
                                <span class="input-group-addon">Trang</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Ghi chú </label>
                            <textarea class="form-control" placeholder="Ghi chú ý quan trọng" rows="3" ng-model="vm.consultant.note"></textarea>
                        </div>
                        <div class="form-group">
                            <label>Nguồn tham khảo</label>
                            <select class="form-control" ng-model="vm.consultant.source">
                                <option>Google</option>
                                <option>Facebook</option>
                                <option>MBA</option>
                                <option>Viết thuê</option>
                                <option>Khác</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Trạng thái</label>
                            <select class="form-control" ng-model="vm.consultant.status">
                                <option>Đã chốt</option>
                                <option>Phân vân</option>
                                <option>Khác</option>
                            </select>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-default" ng-click="vm.add()">Lưu lại</button>
                <button type="reset" class="btn btn-default">Reset </button>
            </div>
        </div>
    </form>
</section>
<!-- /.content -->