<section class="content-header">
    <h1>
        Chi tiết tư vấn
    </h1>
</section>
<!-- Main content -->
<section class="content container-fluid">
    <form name= "formConsultant" ng-submit="vm.addConsultant()">
        <div class="box box-primary">
            <div class="box-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-group">
                                <label>Tên khách hàng</label>
                                <input class="form-control" placeholder="Họ tên" ng-model="vm.consultantDetail.CustomerName">
                            </div>
                            <div class="form-group">
                                <label>Số điện thoại</label>
                                <input class="form-control" placeholder="Số điện thoại" ng-model="vm.consultantDetail.CustomerNumPhone">
                            </div>
                            <div class="form-group">
                                <label>Nhu cầu khách hàng</label>
                                <textarea class="form-control" placeholder="Nhu cầu khách hàng" rows="5" ng-model="vm.consultantDetail.Content"></textarea>
                            </div>
                            <div class="form-group">
                                <label>
                                    <input type="checkbox"  ng-model="vm.consultantDetail.IsPotential"> Đã chốt
                                </label>
                            </div>        
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Ngày tư vấn</label>
                            <div class="input-group width-full">
                                <input type="text" class="form-control" datetime-picker="dd-MM-yyyy HH:mm:ss"  
                                ng-model="vm.datetime" is-open="vm.is_open" 
                                ng-value="vm.consultantDetail.DateTime" ng-click="vm.showDateTimePicker()">
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Số từ</label>
                            <div class="form-group input-group">
                                <input type="number" class="form-control" ng-model="vm.consultantDetail.NumChar">
                                <span class="input-group-addon">Từ</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Nguồn</label>
                            <select class="form-control" ng-model="vm.consultant.a">
                                <option value="">Lựa chọn nguồn</option>
                                <option ng-repeat="item in vm.consultant.source" value="{{vm.consultantDetail.SourceId}}">{{item.Name}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Website</label>  
                            <select class="form-control" ng-model="vm.consultant.sss">
                                <option value="">Lựa chọn trang</option>
                                <option ng-repeat="item in vm.consultant.page" value="{{vm.consultantDetail.WebsiteId}}">{{item.Name}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Lưu lại</button>
            </div>
        </div>
    </form>
</section>
<!-- /.content -->