<section class="content-header">
  <h1>
    Tạo bài viết mới
  </h1>
</section>
<!-- Main content -->
<section class="content container-fluid">
  <form name="postForm" ng-submit="vm.createPost()">
    <div class="box box-primary">
      <div class="box-body">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Summary</label>
              <input type="text" class="form-control" ng-model="vm.post.Summary">
            </div>
            <div class="form-group">
              <label>Số từ</label>
              <div class="input-group">
                <input type="number" class="form-control" placeholder="0" ng-model="vm.post.OrderNumChar" ng-init="vm.post.OrderNumChar = 0">
                <span class="input-group-addon">Từ</span>
              </div>
            </div>
            <div class="form-group">
              <label>Thành tiền</label>
              <div class="input-group">
                <input type="number" class="form-control" ng-model="vm.post.OrderAmount">
                <span class="input-group-addon">VNĐ</span>
              </div>
            </div>
            <div class="form-group">
                <label>Deadline</label>
                <div class="input-group width-full">
                    <input type="text" class="form-control datetimepicker" ng-init="vm.post.Deadline" datetime-picker="dd-MM-yyyy hh:mm:ss"
                        ng-model="vm.post.Deadline" is-open="vm.is_open" ng-click="vm.showDateTimePicker2()">
                </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Mô tả bài viết </label>
              <textarea class="form-control post-description" rows="4" ng-model="vm.post.Description"></textarea>
            </div>
            <div class="form-group">
              <label>Website</label>
              <select class="form-control" ng-model="vm.post.WebsiteId" ng-init="vm.post.WebsiteId = ''">
                <option value="">Lựa chọn website</option>
                <option ng-repeat="item in main.websites" value="{{item.WebsiteId}}">{{item.Name}}</option>
              </select>
            </div>
            <div class="form-group">
              <label>Nguồn</label>
              <select class="form-control" ng-model="vm.post.SourceId" ng-init="vm.post.SourceId = ''">
                <option value="">Lựa chọn nguồn</option>
                <option ng-repeat="item in main.sources" value="{{item.SourceId}}">{{item.Name}}</option>
              </select>
            </div>

          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="box-header">
            <h3 class="box-title">Cộng tác viên</h3>
          </div>
          <div class="box-body">
            <div class="form-group">
              <label>Cộng tác viên</label>
              <select class="form-control" ng-model="vm.post.CollaboratorId" ng-init="vm.post.CollaboratorId = ''">
                <option value="">Select Collaborator</option>
                <option ng-repeat="item in main.collaborators" value="{{item.CollaboratorId}}">{{item.FullName}}</option>
              </select>
            </div>
            <div class="form-group">
              <label>Số từ chỉ định</label>
              <div class="input-group">
                <input type="number" class="form-control" placeholder="0" ng-model="vm.post.CollNumChar" ng-init="vm.post.CollNumChar = 0">
                <span class="input-group-addon">Từ</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="box-header">
            <h3 class="box-title">Khách hàng</h3>
          </div>
          <div class="box-body">
            <div class="form-group">
              <label>Số điện thoại</label>
              <!-- <select class="form-control select2" ng-model="vm.post.CustomerNumPhone" ng-change="vm.selectCustomer()">
                <option ng-repeat="item in vm.customers" value="{{item.NumPhone}}">{{item.FulllName}}</option>
              </select> -->
              <input type="text" class="form-control" ng-model="vm.post.CustomerNumPhone" list="NumPhone" ng-change="vm.selectCustomer()">
              <datalist id="NumPhone">
                <option ng-repeat="item in vm.customers" value="{{item.NumPhone}}"></option>
              </datalist>
            </div>
            <div class="form-group">
              <label>Tên khách hàng</label>
              <input type="text" class="form-control" ng-model="vm.post.CustomerName">
            </div>
            <div class="form-group">
              <label>Email</label>
              <input type="email" class="form-control" ng-model="vm.post.CustomerEmail">
            </div>
          </div>
        </div>
      </div>
      <div class="box-footer">
        <button type="submit" class="btn btn-primary">Lưu lại</button>
        <button type="reset" class="btn btn-default">Reset</button>
      </div>
    </div>
  </form>
</section>
<!-- /.content -->
<div uib-alert ng-class="'alert-success'">{{vm.msg}}</div>