<section class="content-header clearfix">
	<h1>Chi tiết bài viết</h1>

</section>
<!-- Main content -->
<section class="content container-fluid">
	<form name="postForm" ng-submit="vm.updatePost()">
		<div class="box box-primary">
			<div class="box-body">
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label>Summary</label>
							<input type="text" class="form-control" ng-model="vm.post.Summary">
						</div>
						<div class="form-group">
							<label>Số từ</label>
							<div class="input-group">
								<input type="number" class="form-control" placeholder="0" ng-model="vm.post.OrderNumChar">
								<span class="input-group-addon">Từ</span>
							</div>
						</div>
						<div class="form-group">
							<label>Website</label>
							<select class="form-control" ng-model="vm.post.WebsiteId" ng-init="vm.post.WebsiteId = ''">
								<option value="">Select website</option>
								<option ng-repeat="item in main.websites" value="{{item.WebsiteId}}">{{item.Name}}</option>
							</select>
						</div>
						<div class="form-group">
							<label>Nguồn</label>
							<select class="form-control" ng-model="vm.post.SourceId" ng-init="vm.post.SourceId = ''">
								<option value="">Lựa chọn nguồn</option>
								<option ng-repeat="item in main.sources" value="{{item.SourceId}}">{{item.Name}}</option>
							</select>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label>Mô tả bài viết </label>
							<textarea class="form-control post-description" rows="4" ng-model="vm.post.Description"></textarea>
						</div>
						<div class="form-group">
							<label>Thành tiền</label>
							<div class="input-group">
								<input type="number" class="form-control" ng-model="vm.post.OrderAmount">
								<span class="input-group-addon">VNĐ</span>
							</div>
						</div>
					</div>
				</div>
				<br>

				<div class="row">
					<div class="col-md-6">
						<div>
							<h4 class="box-title">Cộng tác viên</h4>
						</div>
						<br>
						<div class="form-group">
							<label>Cộng tác viên</label>
							<select class="form-control" ng-model="vm.post.CollaboratorId" ng-init="vm.post.CollaboratorId = ''">
								<option value="">Select Collaborator</option>
								<option ng-repeat="item in vm.collaborators" value="{{item.id}}">{{item.name}}</option>
							</select>
						</div>
						<div class="form-group">
							<label>Số từ chỉ định</label>
							<div class="input-group">
								<input type="number" class="form-control" placeholder="0" ng-model="vm.post.CollNumChar">
								<span class="input-group-addon">Từ</span>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div>
							<h4>Khách hàng</h4>
						</div>
						<br>
						<div class="form-group">
							<label>Số điện thoại</label>
							<!-- <select class="form-control select2" ng-model="vm.post.CustomerNumPhone" ng-change="vm.selectCustomer()">
				                <option ng-repeat="item in vm.customers" value="{{item.NumPhone}}">{{item.FulllName}}</option>
				            </select> -->
							<input type="text" class="form-control" ng-model="vm.post.CustomerNumPhone" list="NumPhone" ng-change="vm.selectCustomer()">
							<datalist id="NumPhone">
								<option ng-repeat="item in vm.customers" value="{{item.NumPhone}}"></option>
							</datalist>
						</div>
						<div class="form-group">
							<label>Tên khách hàng</label>
							<input type="text" class="form-control" ng-model="vm.post.CustomerName">
						</div>
						<div class="form-group">
							<label>Email</label>
							<input type="email" class="form-control" ng-model="vm.post.CustomerEmail">
						</div>
					</div>
				</div>
				<button type="submit" class="btn btn-primary">Lưu lại</button>
				<button type="reset" class="btn btn-default">Hủy</button>
			</div>
		</div>
		<div class="box box-default">

			<div class="row">
				<div class="col-md-12">
					<div class="box-header with-border">
						<h3 class="box-title pull-left" style="padding-top:8px;">Lịch sử tương tác</h3>
						<button class="btn btn-primary btn-sm pull-left" data-toggle="modal" data-target="#modal-default" style="margin-left: 25px;">
							<i class="fa fa-plus"></i>
						</button>
						<div class="col-sm-1" style="padding:0">
							<label style="padding-top:8px; text-align:right; width:100%">Từ ngày:</label>
						</div>
						<div class="col-sm-3">
							<input type="text" class="form-control datetimepicker" datetime-picker="dd-MM-yyyy hh:mm:ss" ng-init="vm.his.InteractiveStart"
							 ng-model="vm.his.InteractiveStart" is-open="vm.his.is_openInteractiveStart" ng-click="vm.his.showDateTimePickerInteractiveStart()">
						</div>
						<div class="col-sm-1" style="padding:0">
							<label style="padding-top:8px; text-align:right; width:100%">Đến ngày:</label>
						</div>
						<div class="col-sm-3">
							<input type="text" class="form-control datetimepicker" datetime-picker="dd-MM-yyyy hh:mm:ss" ng-model="vm.his.InteractiveEnd"
							 ng-init="vm.his.InteractiveEnd" is-open="vm.his.is_openInteractiveEnd" ng-click="vm.his.showDateTimePickerInteractiveEnd()">
						</div>
						<div class="box-tools pull-right">
							<button type="button" class="btn btn-box-tool" data-widget="collapse">
								<i class="fa fa-chevron-down"></i>
							</button>
						</div>
					</div>

					<div class="box-body">
						<div class="form-group">
							<table class="table table-bordered table-striped">
								<thead>
									<tr>
										<th>Nội dung</th>
										<th>Thời điểm tương tác</th>
										<th>Hành động dự kiến</th>
										<th>Thời gian dự kiến</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="item in vm.his.Data">
										<td>{{item.Content}}</td>
										<td>{{item.DateTime}}</td>
										<td>{{item.DateTime}}</td>
										<td>{{item.DateTime}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="box box-default">
			<div class="row">
				<div class="col-md-12">
					<div class="box-header with-border">
						<h3 class="box-title pull-left" style="padding-top:8px;">Lịch sử thanh toán</h3>
						<button class="btn btn-primary btn-sm pull-left" style="margin-left: 20px;" data-toggle="modal" data-target="#modal-default1">
							<i class="fa fa-plus"></i>
						</button>
						<div class="col-sm-1" style="padding:0">
							<label style="padding-top:8px; text-align:right; width:100%">Từ ngày:</label>
						</div>
						<div class="col-sm-3">
							<input type="text" class="form-control datetimepicker" 
							datetime-picker="dd-MM-yyyy hh:mm:ss" 
							 ng-init="vm.his.PaymentStart"
							 ng-model="vm.his.PaymentStart" 
							 is-open="vm.his.is_openPaymentStart" 
							 ng-click="vm.his.showDateTimePickerPaymentStart()">
						</div>
						<div class="col-sm-1" style="padding:0">
							<label style="padding-top:8px; text-align:right; width:100%">Đến ngày:</label>
						</div>
						<div class="col-sm-3">
							<input type="text" class="form-control datetimepicker" 
							datetime-picker="dd-MM-yyyy hh:mm:ss" 
							ng-init="vm.his.PaymentEnd"
							 ng-model="vm.his.PaymentEnd" 
							 is-open="vm.his.is_openPaymentEnd" 
							 ng-click="vm.his.showDateTimePickerPaymentEnd()">
						</div>
						<div class="box-tools pull-right">
							<button type="button" class="btn btn-box-tool" data-widget="collapse">
								<i class="fa fa-chevron-down"></i>
							</button>
						</div>
					</div>
					<div class="box-body">
						<div class="form-group">
							<table class="table table-bordered table-striped">
								<thead>
									<tr>
										<th>Chủ khoản</th>
										<th>Số tài khoản</th>
										<th>Ngân hàng</th>
										<th>Mô tả</th>
										<th>Số tiền</th>
										<th>Ngày giao dịch</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="item in vm.paymentlogs.Data">
										<td>{{item.BackUserName}}</td>
										<td>{{item.BankNumber}}</td>
										<td>{{item.BankName}}</td>
										<td>{{item.Content}}</td>
										<td>{{item.Amount}}</td>
										<td>{{item.DayTrading}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</section>
<!-- /.content -->
<!-- .modal-Lịch sử tương tác -->
<div class="modal fade" id="modal-default">
	<div class="modal-dialog">
		<form ng-submit="vm.createInteractive()">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">Tạo mới lịch sử tương tác</h4>
				</div>

				<div class="modal-body">
					<div class="form-group">
						<label>Nội dung</label>
						<textarea class="form-control post-description" rows="4" ng-model="vm.his.Content"></textarea>
					</div>
					<div class="form-group">
						<label>Thời điểm tương tác</label>
						<div class="input-group width-full">
							<input type="text" class="form-control datetimepicker" ng-init="vm.his.DateTime" datetime-picker="dd-MM-yyyy hh:mm:ss" ng-model="vm.his.DateTime"
							 is-open="vm.his.is_open" ng-click="vm.his.showDateTimePickerHis()">
						</div>
					</div>
					<div class="form-group">
						<label>Hành động dự kiến</label>
						<input type="text" class="form-control" ng-model="vm.his.ExpectedActionContent">
					</div>
					<div class="form-group">
						<label>Thời gian dự kiến</label>
						<div class="input-group width-full">
							<input type="text" class="form-control datetimepicker" ng-init="vm.his.ExpectedActionDateTime" datetime-picker="dd-MM-yyyy hh:mm:ss"
							 ng-model="vm.his.ExpectedActionDateTime" is-open="vm.his.is_openDateFuture" ng-click="vm.his.showDateTimePickerDateFuture()">
						</div>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-primary pull-left">Lưu lại</button>
						<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Đóng</button>
					</div>
				</div>
			</div>
		</form>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- .modal-Lịch sử thanh toán -->
<div class="modal fade" id="modal-default1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">Tạo mới lịch sử thanh toán</h4>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label>Chủ khoản</label>
					<input type="text" class="form-control" ng-model="">
				</div>
				<div class="form-group">
					<label>Số tài khoản</label>
					<input type="text" class="form-control" ng-model="">
				</div>
				<div class="form-group">
					<label>Ngân hàng</label>
					<select class="form-control" ng-model="" ng-init="">
						<option value="">Select website</option>
						<option ng-repeat="" value="">{{}}</option>
					</select>
				</div>
				<div class="form-group">
					<label>Mô tả</label>
					<textarea class="form-control post-description" rows="4" ng-model=""></textarea>
				</div>
				<div class="form-group">
					<label>Số tiền</label>
					<input type="text" class="form-control" ng-model="">
				</div>
				<div class="form-group">
					<label>Ngày giao dịch</label>
					<div class="input-group width-full">
						<input type="text" class="form-control datetimepicker" ng-init="" datetime-picker="dd-MM-yyyy hh:mm:ss" ng-model="" is-open="vm.is_open"
						 ng-click="">
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary pull-left">Lưu lại</button>
				<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Đóng</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->