<section class="content-header">
  <h1>
    Bài viết
  </h1>
  <ol class="breadcrumb">
    <li>
      <a href="#">
        <i class="fa fa-dashboard"></i> Home</a>
    </li>
    <li class="active">Post</li>
  </ol>
</section>

<!-- Main content -->
<section class="content container-fluid">
  <div class="box-header">
    <div class="col-sm-1" style="padding:0">
      <label style="padding-top:9px; text-align:right; width:100%">Từ ngày:</label>
    </div>
    <div class="col-sm-3">
      <input type="text" class="form-control datetimepicker" ng-init="vm.post.StartDateTime" datetime-picker="dd-MM-yyyy hh:mm:ss"
        ng-model="vm.post.StartDateTime" is-open="vm.is_openStart" ng-click="vm.showDateTimePicker()">
    </div>
    <div class="col-sm-1" style="padding:0">
      <label style="padding-top:9px; text-align:right; width:100%">Đến ngày:</label>
    </div>
    <div class="col-sm-3">
      <input type="text" class="form-control datetimepicker" ng-init="vm.post.EndDateTime" datetime-picker="dd-MM-yyyy hh:mm:ss"
        ng-model="vm.post.EndDateTime" is-open="vm.is_openEnd" ng-click="vm.showDateTimePicker1()">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-primary">
        <div class="box-header">
          <h3 class="box-title">Danh sách bài viết</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <table datatable="ng" class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Khách hàng</th>
                <th>Mô tả</th>
                <th>CTV</th>
                <th>Số tiền</th>  
                <th>Trạng thái bài viết</th>
                <th>Trạng thái thanh toán</th>
                repeat header
              </tr>
            </thead>
            <tbody>
              <tr class="table-item-link" ng-repeat="item in vm.listpost.Data" ng-click="vm.viewDetail(item.PostId)">
                td => Date
                td => repeat Val  
                <td>{{item.CustomerName}}</td>
                <td>{{item.Description}}</td>
                <td>{{item.CollaboratorName}}</td>
                <td>{{item.OrderAmount}}</td>
                <td>{{item.StatusPost}}</td>
                <td>{{item.StatusPaymentCustomer}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->