<section class="content-header">
    <h1>
      Nhắc nhở
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Reminder</li>
    </ol>
  </section>
  
  <!-- Main content -->
  <section class="content container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <div class="box box-primary">
          <div class="box-header">
            <div class="col-sm-1" style="padding:0">
                <label style="padding-top:9px; text-align:right; width:100%">Từ ngày:</label>
            </div>
            <div class="col-sm-3" >
              <input type="text" class="form-control datetimepicker" uib-datepicker-popup="MM-yyyy" ng-model="vm.today" is-open="vm.is_open" ng-click="vm.showDateTimePicker()" datepicker-options="{minMode: 'month'}" datepicker-mode="'month'" ng-change="vm.getListLog(vm.today)">
            </div>
          </div>
          <div class="box-body">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th ng-repeat="name in vm.ConsultationLog">{{name.CustomerName}}({{name.Summary}})</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in vm.ConsultationLog">
                        <td>{{item.DateTime}}</td>
                        <td>test</td>
                    </tr>
                </tbody>
            </table>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>
  <!-- /.content -->