textarea.post-description {
	height: 108px;
	resize: none;
}

.width-full {
	width: 100%;
}

.table-item-link {
	cursor: pointer;

	&:hover {
		background: #f5f5f5;
	}
}

.table-striped {
	> tbody {
		> tr {
			&:nth-of-type(odd) {
				&:hover {
					background: #f5f5f5;
				}
			}
		}
	}
}